<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') %>
</head>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main Content -->
    <div class="container">
        <h4>Ini buat tabel artikel</h4>
    </div>

    <!-- Footer -->
    <%- include('partials/footer')>
    <!-- script -->
    <%- include('partials/script')>

    
</body>
</html>